MYMETA.json
MYMETA.yml
MANIFEST
MANIFEST.bak
Makefile
Makefile.bak
blib/
pm_to_blib
CPAN-Test-Dummy-SCO-Special-*
CPAN-Test-Dummy-SCO-Pirated-*
CPAN-Test-Dummy-SCO-Missing-*
Missing/README
Missing/README.md
